{% extends 'base-front.html.twig' %}


{% block pagetitle %}Mon Planning{% endblock %}
{% block pagetitle1 %}Cours{% endblock %}
{% block pagetitle2 %}Mon Planning{% endblock %}
{% block body %}

    <table class="table table-bordered bg-white mt-5 mb-5">
        <thead class="thead-dark">
        <tr>

            <th>NomSalle</th>
            <th>NomCour</th>
            <th>Information</th>
            <th>NbrActuel</th>
            <th>NbrTotal</th>
            <th>Date</th>
            <th>Time</th>
            <th>Annuler</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation_cour_salle in reservation_cour_salles %}
            <tr>

                <td>{{ reservation_cour_salle.idSalle.nom }}</td>
                <td>{{ reservation_cour_salle.idCour.nomCour }}</td>
                <td>{{ reservation_cour_salle.idCour.information }}</td>
                <td>{{ reservation_cour_salle.idCour.nbrActuel }}</td>
                <td>{{ reservation_cour_salle.idCour.nbrTotal }}</td>
                <td>{{ reservation_cour_salle.idCour.date ? reservation_cour_salle.idCour.date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_cour_salle.idCour.tCour ? reservation_cour_salle.idCour.tCour|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reservation_cour_salle_delete',{'id':reservation_cour_salle.id}) }}">Annuler</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
