{% extends 'base-front.html.twig' %}

{% block pagetitle %}Liste Cours{% endblock %}
{% block pagetitle1 %}Cours{% endblock %}
{% block pagetitle2 %}Liste Cours{% endblock %}
{% block body %}
    <form method="post" action="{{ path('recherche') }}">
        <label >Recherche</label>
        <input type="text" name="search"><input type="submit" value="Recherche">
        <div style="display:flex;justify-content: center;flex-wrap: wrap;align-content: space-around;flex-direction: row">
            <div style="width:150px">
                <input type="checkbox" id="Nom_Cour" name="Nom_Cour">
                <label >Nom Cour</label>
            </div>
            <div style="width:100px">
                <input type="checkbox" id="Nom_Salle" name="Nom_Salle">
                <label >Nom_Salle</label>
            </div>
            <div style="width:100px">
                <input type="checkbox" id="Date" name="Date">
                <label >Date</label>
            </div>
            <div style="width:100px">
                <input type="checkbox" id="Heure" name="Heure">
                <label >Heure</label>
            </div>
        </div>

    </form>

    <table class="table table-bordered bg-white mt-5 mb-5">
    <thead class="thead-dark">
    <tr>

        <th>Salle</th>
        <th>Cour</th>
        <th>Information</th>
        <th>NbrActuel</th>
        <th>NbrTotal</th>
        <th>Date</th>
        <th>Time</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for cour_salle in cour_salles %}
        <tr>

            <td>{{ cour_salle.Utilisateur.nom }}</td>
            <td>{{ cour_salle.nomCour }}</td>
            <td>{{ cour_salle.information }}</td>
            <td>{{ cour_salle.nbrActuel }}</td>
            <td>{{ cour_salle.nbrTotal }}</td>
            <td>{{ cour_salle.date ? cour_salle.date|date('Y-m-d') : '' }}</td>
            <td>{{ cour_salle.tCour ? cour_salle.tCour|date('H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('app_reserver_cour_salle_index', {'idCour': cour_salle.id,'idSalle':cour_salle.Utilisateur.id}) }}">Réserver</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
    <div class="navigation" style="display:flex;justify-content: center;">
        {{ knp_pagination_render(cour_salles) }}
    </div>
{% endblock %}