{% extends 'front/fresh-base.html.twig' %}

{% block title %}ReservationCoach index{% endblock %}

{% block body %}
    <h1>ReservationCoach index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_coach in reservation_coaches %}
            <tr>
                <td>{{ reservation_coach.id }}</td>
                <td>{{ reservation_coach.etat }}</td>
                <td>
                    <a href="{{ path('app_reservation_coach_show', {'id': reservation_coach.id}) }}">show</a>
                    <a href="{{ path('app_reservation_coach_edit', {'id': reservation_coach.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_coach_new') }}">Create new</a>
{% endblock %}
