{% extends 'front/fresh-base.html.twig' %}

{% block title %}Hello Commentaire Controller{% endblock %}

{% block body %}
    <div class="container">
        <h1>Commentaire List</h1>

        <a href="{{ path("app_commentaire") }}" class="btn btn-sm btn-warning">
            add a new Comment
        </a>
        <table class="table table-info">

            <tr>
                <th>Identifiant Commentaire</th>
                <th>categorie</th>
                <th>message</th>
               
            </tr>
            {% for cmd in list %}
            <tbody id="all">
            <tr>
                <td>{{ cmd.idCommentaire }}</td>
                <td>{{ cmd.categorie }}</td>
                <td>{{ cmd.message }}</td>

                <td>
                    <a href="{{ path("deleteCommentairePage",{'idCommentaire':cmd.idCommentaire }) }}">
                        <button class="btn btn-sm btn-outline-danger">delete</button>
                    </a>

                    <a href="{{ path("UpdateCommentairePage",{'idCommentaire':cmd.idCommentaire}) }}">
                        <button class="btn btn-sm btn-outline-primary">Update</button>
                    </a>
                </td>

            </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}

