{% extends 'base-back.html.twig' %}



{% block title %}Register{% endblock %}

{% block body %}


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Create account</h4>
                </div>
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                {{ form_errors(registrationForm) }}
                {{ form_row(registrationForm.urlImg,{'attr': {'class': 'form-control col-md-3'}}) }}
                <div>

                    <div class="mt-5 text-center"><button  type="submit" class="btn btn-primary profile-button">Save</button></div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>

    </div>
</div>
    <a href="{{ path('user_panel_index') }}">back to list</a>
{% endblock %}