{% extends 'base-back.html.twig' %}

{% block title %}Salle > Cour > Examiner{% endblock %}
{% block titreDroite %}Salle3{% endblock %}
{% block body %}

<h1>Cour</h1>
    <table class="table table-bordered bg-white mt-5 mb-5">
        <tbody>

            <tr>
                <th>NomCour</th>
                <td>{{ cour_salle.nomCour }}</td>
            </tr>
            <tr>
                <th>Information</th>
                <td>{{ cour_salle.information }}</td>
            </tr>
            <tr>
                <th>NbrActuel</th>
                <td>{{ cour_salle.nbrActuel }}</td>
            </tr>
            <tr>
                <th>NbrTotal</th>
                <td>{{ cour_salle.nbrTotal }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cour_salle.date ? cour_salle.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ cour_salle.tCour ? cour_salle.tCour|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('cour_salle/_delete_form.html.twig') }}
    <h1>Liste Participants</h1>
    <div style="text-align:center;background-color:white;">
        <table class="table bg-white mt-5 mb-5">
            <tbody>
            <tr class="thead-dark">

                <th>Paricipants</th>

            </tr>
            {% for r in reservation %}
                <tr>

                    <td>{{ r.idSportif.nom }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
