{% extends 'base-back.html.twig' %}

{% block title %}Exercice {% endblock %}

{% block body %}
    


<div class=" my-4">
    <div class="container p-4">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.RechercheNom) }}
            {{ form_widget(form.RechercheNom, { attr: { class: "form-control" } } ) }}
            {{ form_errors(form.RechercheNom) }}
        </div>
        <div class="form-group">
            {{ form_label(form.RechercheCategorie) }}
            {{ form_widget(form.RechercheCategorie, { attr: { class: "form-control" } } ) }}
            {{ form_errors(form.RechercheCategorie) }}
        </div>
        <button class="btn btn-success">{{ button_label|default('Search') }}</button>

        <a href="{{path('app_exercice_index')}}" class="btn btn-success">Load Exercices</a>
        {{ form_end(form) }}
    </div>

</div>



<h1 style="color: brown;"  >Liste des Exercices</h1>

    


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Exercice</th>
                <th>Description Exercice</th>
                <th>Categorie Exercice</th>
                <th>Nbr Repetition</th>
                <th>Nbr Serie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <div>

        
        {% for exercice in exercices %}
            <tr>
                <td>{{ exercice.id }}</td>
                <td>{{ exercice.nomExercice }}</td>
                <td>{{ exercice.descriptionExercice }}</td>
                <td>{{ exercice.categorieExercice }}</td>
                <td>{{ exercice.nbrRepetition }}</td>
                <td>{{ exercice.nbrSerie }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_exercice_show', {'id': exercice.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
           
        {% endfor %}
        </tbody>
    </table>
  
    <a class="btn btn-outline-primary" href="{{ path('app_exercice_new') }}">Create new</a>

    <br>
    <br><br>

    <div class="navigation">
        
{{ knp_pagination_render(exercices) }} 
    </div>
</div>

{% endblock %}
