
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{{ asset('images/logo.png')}}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{{ asset('images/logo2.png')}}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{path('app_programme_index')}}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <li class="active">
                    <a href="{{path('app_programme_index')}}"> <i class="menu-icon fa fa-dashboard"></i>Les Programmes </a>
                </li>

                <li class="active">
                    <a href="{{path('app_exercice_index')}}"> <i class="menu-icon fa fa-dashboard"></i>Les Exercices </a>
                </li>
                <h3 class="menu-title"><div class=""><a><i class="fa fa-users"></i>      Users</a></div></h3><!-- /.menu-title -->
                
                </li>



                </li>
             

                <h3 class="menu-title">Coaching</h3><!-- /.menu-title -->
               
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
