{% extends 'base-back.html.twig' %}

{% block titreGauche %}Reservations > Traiter{% endblock %}
{% block titreDroite %}Coach2 {% endblock %}
{% block body %}

    <table class="table table-bordered bg-white mt-5 mb-5">
        <thead class="thead-dark">
        <tr>

            <th>Nom</th>
            <th>Date</th>
            <th>Time</th>
            <th>Etat</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>

                <td>{{ reservation.idParticipant.nom }}</td>
                <td>{{ reservation.date|date('Y-m-d') }}</td>
                <td>{{ reservation.time|date('H:i:s') }}</td>
                <td>{{ reservation.etat }}</td>
                <td>
                    {% if reservation.etat!='Acceptée' %}
                    <a href="{{ path('app_coach_reservation_accepter',{'id':reservation.id}) }}" >Accepter</a>
                    {% endif %}
                    <a href="{{ path('app_coach_reservation_annuler',{'id':reservation.id}) }}" >Refuser</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Données Inexistantes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
