{% extends 'base-back.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
    <h1>Plat index</h1>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                {% for plat in plats %}
                <div class="col-md-4">
                    <aside class="profile-nav alt">
                        <section class="card">
                            <div class="card-header user-header alt bg-dark">
                                <div class="media">
                                    <a href="#">
                                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                                    </a>
                                    <div class="media-body">
                                        <h2 class="text-light display-6">{{ plat.nom }}</h2>

                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="#">  Poids <span class="badge badge-primary pull-right">{{ plat.poids }}</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">  Calories <span class="badge badge-danger pull-right">{{ plat.calories }}</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#"> Protein <span class="badge badge-success pull-right">{{ plat.protein }}</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">  Type <span class="badge badge-warning pull-right r-activity">{{ plat.type }}</span></a>
                                </li>
                            </ul>
                        </section>
                    </aside>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Calories</th>
                <th>Poids</th>
                <th>Protein</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.type }}</td>
                <td>{{ plat.calories }}</td>
                <td>{{ plat.poids }}</td>
                <td>{{ plat.protein }}</td>
                <td>
                    <button class="btn btn-outline-primary"><a href="{{ path('app_plat_show', {'id': plat.id}) }}">show</a></button>
                    <button class="btn btn-outline-primary"><a href="{{ path('app_plat_edit', {'id': plat.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<button class="btn btn-outline-primary"><a href="{{ path('app_plat_new') }}">Create new</a></button>
{% endblock %}
