{% extends 'base-back.html.twig' %}

{% block title %}Programme {% endblock %}

{% block body %}

<div class=" my-4">
    <div class="container p-4">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.RechercheProgNom, 'Recherche Par Nom') }}
            {{ form_widget(form.RechercheProgNom, { attr: { class: "form-control" } } ) }}
            {{ form_errors(form.RechercheProgNom) }}
        </div>
        <div class="form-group">
            {{ form_label(form.RechercheProgCate, 'Recherche Par Categorie') }}
            {{ form_widget(form.RechercheProgCate, { attr: { class: "form-control" } } ) }}
            {{ form_errors(form.RechercheProgCate) }}
        </div>
       {#  <div class="form-group">
            {{ form_label(form.RechercheProgObj) }}
            {{ form_widget(form.RechercheProgObj, { attr: { class: "form-control" } } ) }}
            {{ form_errors(form.RechercheProgObj) }}
        </div> #}
       
        <button class="btn btn-success">{{ button_label|default('Search') }}</button>

        <a href="{{path('app_programme_index')}}" class="btn btn-success">Load Programmes</a>
        {{ form_end(form) }}
    </div>

</div>




    <h1> Liste des Programmes </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Programme</th>
                <th>Objectif Programme</th>
                <th>Description Programme</th>
                <th>Categorie Programme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.id }}</td>
                <td>{{ programme.nomProgramme }}</td>
                <td>{{ programme.objectifProgramme }}</td>
                <td>{{ programme.descriptionProgramme }}</td>
                <td>{{ programme.categorieProgramme }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_programme_show', {'id': programme.id}) }}">show</a>
                    <a class="btn btn-warning"  href="{{ path('app_programme_edit', {'id': programme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_programme_new') }}">Create new</a>

    <div class="navigation">
        
        {{ knp_pagination_render(programmes) }}
    </div>
{% endblock %}
