{% extends 'base-front.html.twig' %}

{% block title %}Programme {% endblock %}

{% block body %}
    <h1> Liste des Programmes </h1>
    <div class=" my-4">
        <div class="container p-4">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.RechercheProgNom, 'Recherche Par Nom') }}
                {{ form_widget(form.RechercheProgNom, { attr: { class: "form-control" } } ) }}
                {{ form_errors(form.RechercheProgNom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.RechercheProgCate, 'Recherche Par Categorie') }}
                {{ form_widget(form.RechercheProgCate, { attr: { class: "form-control" } } ) }}
                {{ form_errors(form.RechercheProgCate) }}
            </div>
           
            <button class="btn btn-success">{{ button_label|default('Search') }}</button>
    
            <a href="{{path('app_programmeUser_index')}}" class="btn btn-success">Load Programmes</a>
            {{ form_end(form) }}
        </div>
    
    </div>
    
    <table class="table" >
        <thead>
            <tr>
               
                <th>Nom Programme</th>
                <th>Objectif Programme</th>
                <th>Description Programme</th>
                <th>Categorie Programme</th>
            
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
              
                <td>{{ programme.nomProgramme }}</td>
                <td>{{ programme.objectifProgramme }}</td>
                <td>{{ programme.descriptionProgramme }}</td>
                <td>{{ programme.categorieProgramme }}</td>
                
                <td>
                    <a class="btn btn-primary" href="{{ path('app_programme_show2', {'id': programme.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        
        {{ knp_pagination_render(programmes) }}
    </div>

{% endblock %}
