{% extends 'base-front.html.twig' %}

{% block title %}Programme {% endblock %}

{% block body %}
    <h1> Liste Programme </h1>

    <table class="table" >
        <thead>
            <tr>
               
                <th>Nom Programme</th>
                <th>Objectif Programme</th>
                <th>Description Programme</th>
                <th>Categorie Programme</th>
            
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
              
                <td>{{ programme.nomProgramme }}</td>
                <td>{{ programme.objectifProgramme }}</td>
                <td>{{ programme.descriptionProgramme }}</td>
                <td>{{ programme.categorieProgramme }}</td>
                
                <td>
                    <a class="btn btn-primary" href="{{ path('app_programme_show2', {'id': programme.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
