{% extends 'front/fresh-base.html.twig' %}
{% block title %}Hello Ticket Controller{% endblock %}
{% block body %}

    <div class="container">
        {% block search %}
                <form>
                    <div class="input-group input-group-dynamic mb-8">
                        <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>

                        <input class="form-control" id="search" placeholder="Search" type="text" >

                    </div>
                </form>
        {% endblock %}

        <h1>Ticket List</h1>

        <a href="{{ path("newTicketPage") }}" class="btn btn-sm btn-warning">
            add a new ticket
        </a>
        <table class="table table-info">

            <tr>
                <th>Identifiant Ticket </th>
                <th>id evenement </th>
                <th> prix </th>
            </tr>
            {% for cmd in list %}
             <tbody id="all">
                <tr>
                    <td>{{ cmd.idTicket }}</td>
                    <td>{{ cmd.Event ? cmd.Event.idevent  }}</td>
                    <td>{{ cmd.prix }}</td>
                    <td>
                        <a href="{{ path("deleteTicketPage",{'id_ticket':cmd.idTicket }) }}">
                            <button class="btn btn-sm btn-outline-danger">delete</button>
                        </a>
                
                        <a href="{{ path("UpdateTicketPage",{'id_ticket':cmd.idTicket}) }}">
                            <button class="btn btn-sm btn-outline-primary">Update</button>
                        </a>
                    </td>

                </tr>
            {% endfor %}
         </tbody>

                    <tbody id="search"></tbody>
                </table>


        {{ knp_pagination_render(list) }}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $( document ).ready(function() {
                $("#search").keyup(function(e){
                    /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                    var value = $(this).val();
                    /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                    $.ajax({
                        /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                        url : "{{ path('searchT') }}",
                        /* La méthode utilisée pour transférer les données est GET */
                        type : 'GET',
                        /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                        data: {
                            'searchValue' : value
                        },
                        /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                        success : function(retour){
                            if(retour){
                                $('#t tbody#search').empty();
                                $.each(JSON.parse(retour), function(i, obj) {

                                    $('#t tbody#all').hide();
                                    $('#t tbody#search').append("<tr>");
                                    $('#t tbody#search').append(" <td>"+obj.id_Ticket+"</td>");
                                    $('#t tbody#search').append(" <td>"+obj.Prix+"</td>");
                                    $('#t tbody#search').append(" <td>"+obj.Event+"</td>");

                                });
                            }
                            
                            else
                            {
                                $('#t tbody#all').show();
                                $('#t tbody#search').empty();
                                $('#t tbody#search').fadeIn('fast');
                                  }
                            },
                        });
                        return false;
                    });

                });
            </script>
         </div>

    </div>

{% endblock %}


